<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://www.wecontrib.com/composer</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://web701.discountasp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>wecontrib.com/composer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>wecontribco</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CDataEntities_Cloud" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:mlx0al9bee.database.windows.net;Initial Catalog=cdata;Persist Security Info=True;User ID=jhartley;Password=Tana3925" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CDataEntities_Cloud_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:mlx0al9bee.database.windows.net;Initial Catalog=cdata;Persist Security Info=True;User ID=jhartley;Password=Tana3925;MultipleActiveResultSets=False&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CDataEntities_Work" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=JHARTLEYW520;Initial Catalog=cdata;Persist Security Info=True;User ID=sa;Password=tana3925" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CDataEntities_Work_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=JHARTLEYW520;Initial Catalog=cdata;Persist Security Info=True;User ID=sa;Password=tana3925&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CDataEntities_Home" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=7HARTLEY29\SQLEXPRESS2012;Initial Catalog=cdata;Persist Security Info=True;User ID=sa;Password=tana3925" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CDataEntities_Home_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=7HARTLEY29\SQLEXPRESS2012;Initial Catalog=cdata;Persist Security Info=True;User ID=sa;Password=tana3925&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CDataEntities" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:sql2k805.discountasp.net;Initial Catalog=SQL2008R2_848836_cdata;User ID=SQL2008R2_848836_cdata_user;Password=tana3925" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:sql2k805.discountasp.net;Initial Catalog=SQL2008R2_848836_cdata;User ID=SQL2008R2_848836_cdata_user;Password=tana3925" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CDataEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:sql2k805.discountasp.net;Initial Catalog=SQL2008R2_848836_cdata;User ID=SQL2008R2_848836_cdata_user;Password=tana3925;&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:sql2k805.discountasp.net;Initial Catalog=SQL2008R2_848836_cdata;User ID=SQL2008R2_848836_cdata_user;Password=tana3925"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CDataEntities_Cloud-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CDataEntities_Home-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CDataEntities_Work-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>